{% extends 'layoute.html' %}

{% block title %}
    Новости
{% endblock %}

{% block content %}
<h1>Новости</h1>
{% for item in news %}
    <div class="news-item">
        <h2>{{ item.title }}</h2>
        <p>{{ item.short_description }}</p>
        <p>{{ item.text }}</p>
        <p>Дата публикации: {{ item.pub_date }}</p>
        <p>Автор: {{ item.author.username }}</p> <!-- Вывод логина автора -->
        <p>Email автора: {{ item.author.email }}</p> <!-- Вывод email автора -->
    </div>
{% empty %}
    <p>Новостей нет.</p>
{% endfor %}
{% endblock %}
